* {
  box-sizing: border-box;

}

body {
  background-image: url(../img/grateful-dead.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 110px;
}
#commands {
  height: 20vh;
  margin: 30% auto;
  width: 50%;
  outline: 1px red solid;
}
.controls {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  margin-right: 55px;
}

.play {
  background-image: url("../img/play.png");

}
.pause {
  background-image: url("../img/pause.png");

}
.ff {
  background-image: url("../img/ff.png");

}
.stop {
  background-image: url("../img/stop.png");

}
.next-song {
  background-image: url("../img/next-song.png");

}
marquee {
  font-size: 2em;
  font-weight: bold;
  color: white;
  display: inline-block;
  width: 33%;
}

.duration {
  color: white;
  font-size: 1.3em;
}
#volume {
  display: inline-block;

}
